#修改TNAME: git
name: Build Padavan_toolchain

on: 
  release:
    types: [published]
  push:
    tags:
    - 'v*'
  #  branches: 
    - ad
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]

jobs:
  build:
    runs-on: ubuntu-18.04
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo apt-get update
        sudo apt-get -y install unzip libtool-bin curl cmake gperf gawk flex bison nano xxd \
        cpio git python-docutils gettext automake autopoint texinfo build-essential help2man \
        pkg-config zlib1g-dev libgmp3-dev libmpc-dev libmpfr-dev libncurses5-dev libltdl-dev gcc-multilib
    - name: Clone source code
      env:
        TNAME: https://github.com/896660689/rt-n56u.git
      run: |
        git clone --depth=1 --branch=ad $TNAME /opt/rt-n56u
    - name: Build Firmware
      run: |
        cd /opt/rt-n56u/toolchain-mipsel
        if [ ! -f build_toolchain ] ; then
        echo "build_toolchain not found "
        exit 1
        fi
        ./clean_toolchain
        ./build_toolchain
        #
    - name: tar_toolchain-mipsel
      run: |
        cd /opt/rt-n56u/toolchain-mipsel
        tar zcvf toolchain-3.4.x.tar.gz toolchain-3.4.x
        #
        cd /opt/rt-n56u/toolchain-mipsel/toolchain-3.4.x
        tar zcvf mipsel-linux-uclibc.tar.gz mipsel-linux-uclibc
        #
    - name : Upload toolchain-3.4.x.tar.gz
      uses: actions/upload-artifact@master
      with:
        name: toolchain-3.4.x.tar.gz
        path: /opt/rt-n56u/toolchain-mipsel/toolchain-3.4.x.tar.gz
        #
    - name : Upload mipsel-linux-uclibc.tar.gz
      uses: actions/upload-artifact@master
      with:
        name: mipsel-linux-uclibc.tar.gz
        path: /opt/rt-n56u/toolchain-mipsel/toolchain-3.4.x/mipsel-linux-uclibc.tar.gz
